@charset "UTF-8";

body{
	font-family: 'Gowun Dodum', sans-serif;
	color : black;
	font-weight : 500;
}

.btn{
	text-align : center;
	padding-top : 30px;
	height : 70px;
	width : 30%;
	display : block;
	margin-top : 150px;
	margin-bottom : 100px;
	margin-left : auto;
	margin-right: auto;
	font-size : 35px;
	background-color : black;
	color : white;
	text-decoration: none;
}

.login_info{
	margin-top : 100px;
	margin-right :auto;
	margin-left : auto;
	width : 50%;
	height : 300px;
	font-size : 30px;
	font-weight : 500;
}