@charset "UTF-8";

.pagetitle{
	margin-top : 80px;
	text-align:center;
}
.admintable{
	margin-top : 30px;
	text-align : center;
	width : 40%;
	margin-right:auto;
	margin-left:auto;
	border-collapse: collapse;
	margin-bottom : 100px;
	font-size : 24px;

}
.admintable tr:nth-child(-n+2) td{
	border: 1px solid gray;
	border-collapse: collapse;
	padding-top : 5px;
	padding-bottom :5px;
}

.admintable tr:nth-child(-n+2) td:nth-child(1){
	font-weight : 600;
}

.mypagebtn{
	background-color : black;
	color : white;
	font-size : 20px;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 5px;
	padding-bottom:5px;
	margin-top : 30px;
	margin-bottom : 10px;
	
}

.mypagebtn:hover{
	cursor:pointer;
}

.mypagea{
	color : red;
	font-size : 18px;
}